// globals
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  transition: all 0.3s ease-in-out;
}

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-weight: normal;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --gray100: #171614;
  --gray200: #1d1c19;
  --gray250: #22211c;
  --gray300: #333333;
  --gray400: #444444;
  --gray500: #555555;
  --gray600: #666666;
  --gray700: #777777;
  --gray800: #888888;
  --gray900: #999999;
  --white: #ffffff;

  --base-text: var(--white);
  --secondary-text: var(--gray900);
  --background: var(--gray100);
  --surface: var(--gray200);
  --card-surface: var(--gray250);
  --border: #2f2f2f;
}

.light-mode {
  --base-text: var(--gray100);
  --secondary-text: var(--gray300);
  --background: #f2f2f2;
  --surface: #e5e5e5;
  --card-surface: #d9d9d9;
  --border: #c2c2c2;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  color: var(--base-text);
  background-color: var(--background);
  overflow-y: scroll;

  // Style scrollbar
  &::-webkit-scrollbar {
    width: 8px;
    background: var(--background);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--surface);
    border-radius: 56px;
  }
}

.page {
  max-width: 600px;
  margin: 0 auto;
  padding: 1.6rem;
}
